@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #7406f9;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
#reset {
border: 2px white solid;
color: white;
background-color: transparent;
font-weight: bold;
transition: 0.5s ease-in-out;
}
#apply{
  transition: 0.5s ease-in-out;
  background-color: white;
  color: black;
  font-weight: bold;
}
#apply:hover{
  color:#535bf2;
}
#reset:hover{
  background-color: black;
  font-weight: bold;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 10px 10px 10px 120px ;

}
#side {
  background-color: rgba(0,0,0,0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: absolute;
  z-index: 555;
  top: 0;
  left: 0;
}

#menu-icon {
  background-color: transparent;
}
#vv{
  font-size: 28px;
margin-left: -70px;
}
#cards {
  position: absolute;
  z-index: 555;
  right: 20%;
  top: 70%;
}
#card {
  background-color: #3A2B6E;
  border-radius: 20px;
  padding: 40px;
  width: 250px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
